{%  extends 'base.html' %}
{% block content %}
<style>
    @import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);
    body {
    background-color:#97CAEF;
    }
    .mainbox{
        background-color:#97CAEF;
        font-family:"Druk Wide Bold";
        font-size:30px;
        text-align:center;
        color: black;

    }
    .sub-mainbox{
        font-size:20px;
    }

</style>

<body>
    <div class="mainbox">
        <p><b> BLOCK NOT MINED.</b></p>
        <p class="sub-mainbox"><b>THIS COULD BE DUE TO INVALID PRODUCT DETAILS OR SERVER ERROR.</b></p>
        <img src="https://s7.gifyu.com/images/no_transaction.gif" alt="no_transaction.gif"  style="width: 480px; height: auto; border-radius: 20px;"/>
    </div>
</body>

    
{% endblock %}